<div class="bg-white w-full p-3 lg:max-w-full lg:flex mt-5 transform hover:-translate-y-1 hover:shadow-md duration-500 dark:bg-warmgray-900">
    {{ if .Site.Params.post.thumbnail }}
    {{ if .Params.image }}
    <img alt="thumbnail" id="thumb"
        class="{{ .Site.Params.post.thumbnail_width }} {{ .Site.Params.post.thumbnail_height }}"
        src="{{ .Params.image | relURL }}" />
    {{ else }}
    {{ if .Site.Params.post.noimage }}
    <img alt="thumbnail" id="thumb"
        class="{{ .Site.Params.post.thumbnail_width }} {{ .Site.Params.post.thumbnail_height }}"
        src='{{ "/img/default.jpg" | relURL }}'>
    {{ end }}
    {{ end }}
    {{ end }}

    <div class="relative pl-4 p-2 justify-between leading-normal max-w-full w-full">
        <!-- Title -->
        <div class="text-gray-900 font-bold text-xl mb-2 dark:text-white">{{ .Title }}</div>
        
        <!-- Summary -->
        <p class="text-gray-700 text-base  dark:text-gray-300">{{ substr .Summary 0 250 | plainify | htmlUnescape }}...</p>

        <!-- Reading Time and Release Date in Flex Container -->
        <div class="flex justify-between items-center text-sm text-gray-600 dark:text-gray-400 mt-4">
            <!-- Reading Time (Left) -->
            <div class="flex items-center">
                <span class="fas fa-clock mr-2"></span>{{ .ReadingTime }} min
            </div>

            <!-- Release Date (Right) -->
            <div class="flex items-center">
                <span class="fas fa-calendar-alt mr-1"></span>
                <time>{{ .Date.Format "2006/01/02" }}</time>
            </div>
        </div>
    </div>
</div>
